{#
/**
 * @file
 * Mathematical expression and result.
 */
#}
<p {{ attributes.addClass('lexer-parser--math-parser--field-wrapper') }}>
  <span class="lexer-parser--math-parser--expression">{{ expression }}</span>
  <span class="lexer-parser--math-parser--result visually-hidden">{{ result }}</span>
</p>
